.topbar{
    justify-content: right !important;
}

.topbarRight{
    display: flex;
    align-items: center;
    
}

.topbarButton{
    color: var(--primaryColor) !important;
    background-color: var(--btnColor) !important;
   
}

.topbarSelect{
    margin-left: 20px;
    width: 200px;
    display: flex;
    position: relative;
    background-color: var(--lightColor);
    border-radius: 30px;
   
  
}

.selectAvatar{
    position: relative;
    z-index: 2;
   
}
.topbarSelect button{
    flex: 1;
    padding:15px 20px 0;
    outline: none;
    background-color: inherit;
    border: none;
    cursor: pointer;
   
}
.logoutBox{
    position: absolute;
    border: 1px solid  var(--lightColor);
    padding: 5px 20px;
    cursor: pointer;
    z-index: 100;
    bottom: -28px;
    font-size: .8rem;
    left: 50%;
    transform: translateX(-50%);
}