/* .app{
    width: 100%;
} */
.layout{
    width: 100%;
    background-color: var(--lightColor);
    display: grid;
      grid-template-areas: "side head"
                           "side  main";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;
  
}

.sidebar{
    grid-area: side;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      background-color: var(--primaryColor);
     position: relative;
     height: 100vh;
     position: sticky;
     top: 0;
}
.topbar{
    grid-area: head;
     background-color: #fff;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 30px;
    border-left:solid 1px var(--lightColor);
    position: sticky;
    top: 0;
    z-index: 999;
}

.main{
    grid-area: main;
    background-color:var(--lightColor);
    margin-top: 20px;
    font-size: 14px;
}