
.layout{
    width: 100%;
    background-color: var(--lightColor);
    display: grid;
      grid-template-areas: "side head"
                           "side  main";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;

  
}

.sidebar{
    grid-area: side;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      background-color: var(--primaryColor);
     position: relative;
     height: 100vh;
     position: sticky;
     top: 0;
}
.topbar{
    grid-area: head;
     background-color: #fff;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 30px;
    border-left:solid 1px var(--lightColor);
    position: sticky;
    top: 0;
    z-index: 999;
}

.main{
    grid-area: main;
    background-color:var(--lightColor);
    margin-top: 20px;
    font-size: 14px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader, .MuiDataGrid-root .MuiDataGrid-cell{
    padding: 0 20px !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle{
    font-weight: bold !important;
}

.cardHead{
    text-align: center;
}
.cardHead > h3{
    color: blue;
    margin-bottom: 10px;
    word-spacing: .5rem;
}
.cardHead > h5{
    margin-top: 10px;
}

.cardBody_top {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
}

.cardBody_top span {
    display: block;
    color: black;
    font-size: .8rem;
    margin: 5px 0 10px;
}

.cardBody_Content{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    color: gray;
    margin-bottom: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.cardBody_Content span{
    display: block;
    color: black;
}

.cardBody_footer{
    display: flex;
    font-size: .8rem;
    flex-direction: column;
}

.cardBody_footer >h4{
    align-self: flex-end;
    margin-bottom: 20px;
}
.cardBody_footer >h5{
    align-self: center;
    font-size: .9rem;
    margin-bottom: 10px;
}

.cardBtn{
    width: 10rem !important;
    margin-top: 10px !important;
}

.newInvoiceHeader, .newInvoiceContent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

.newInvoiceHeader{
    background-color: var(--lightColor);
}

.receiptInput{
    display: flex;
    align-items: center
}

.receiptInput input{
    width: 3rem;
    padding: 2px;
    margin-right: .5rem;
}

.total{
    font-size: .9rem;
    text-align: center;
    padding: .5rem 0;
}